<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>-->
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/toastr/toastr.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontAwesome/css/font-awesome.css}"/>
    <link href="../../../static/fontAwesome/css/font-awesome.css"
          th:href="@{/fontAwesome/css/font-awesome.css}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/toastr/toastr.js}"></script>
    <style type="text/css">
        .toast-title{
            font-size: 30px;
        }
        .toast-message{
            font-size: 40px;
        }
    </style>
</head>
<body>
<h2>Hello World!</h2>
<input type="text" value="aaa" class="fa fa-area-chart">
<a href="javascript:void(0);" id="createHtml" onclick="createHtml()">生成html模板...</a><br/>
<a th:href="@{/freemarkerController/jumpFtl}" id="jumpFtl">跳转ftl</a>
<a th:href="@{/test/toPage}" id="toTestPage">跳转testPage</a>
<br>
<a th:href="@{/test/webSocketTest}" class="fa fa-address-book">跳转至WebSocket操作界面</a>
<br>
<input type="button" onclick="toastr.success('成功','提示')" value="提示">
<br/>
bbb
<br>
<a href="/test/toBootStrapTest">toBootStrapTest</a>
<br>
<a th:href="@{/test/jumpToAutoComplete}" class="fa fa-address-book">动态下拉框</a>
<br>
<a th:href="@{/test/jumpToBootstrapTableDemo}" class="fa fa-500px">bootstrap table</a>
</body>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        toastr.options = {
            closeButton: false,
            debug: true,
            progressBar: false,
            positionClass: "toast-top-center",
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "15000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            iconClasses: {
                error: 'toast-error',
                info: 'fa fa-apple',
                success: 'toast-success fa fa-area-chart',
                warning: 'toast-warning'
            }
        };
    });
    var aaa = '[(@{/ancde})]';
    var basePath = '[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]';
    console.log(basePath);
    function createHtml() {
        $.ajax({
            url: basePath + '/freemarkerController/creatingFreemarkerHtml',
            data: {key: '123456'},
            type: 'post',
            //dataType: 'text',
            success: function(data){
                alert(data);
            },
            error: function (msg) {
                alert(msg);
            }
        })
    }
</script>
</html>
