<table class="table tab-content table-hover" xmlns:th="http://www.thymeleaf.org">
    <thead>
        <tr>
            <th>int</th>
            <th>String</th>
            <th>Date</th>
            <th>index</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="testEntity,testEntityStmt:${testList}">
            <td th:text="${testEntity.testInt}"></td>
            <td th:text="${testEntity.testString}"></td>
            <td th:text="${testEntity.testDate}"></td>
            <td th:text="${testEntityStmt.index}"></td>
        </tr>
    </tbody>
</table>